@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');
@font-face{
    font-family: "ribeye marrow";
    src: url("fonts/ribeye-marrow.woff2");
}
h1{
    text-align: center;
    font-family: "ribeye marrow";
}
blockquote{
    text-align: center;
    
}
.lat{
    font-family: lobster;
}
.trad{
    text-align:right;
    font-family: "just another hand";
}